<%- include("../partials/layout-start", {title: title}) %>
<%- include("../partials/menu") %>

<h1 class="mt-5"><%= title %></h1>
<p class="mb-5">Admin-panel</p>

<% if (!user) { %>
    <p class="mt-5">Welcome! Please <a href="/api/user/login">Log in</a>.</p>
<% } else { %>
    <p>Hello, <%= user.username %>! <a class="btn btn-sm btn-info" href="/api/user/profile">Your profile</a> <a class="btn btn-sm btn-secondary" href="/api/user/logout">Log out</a></p>

    <a class="btn btn-sm btn-primary mt-5" href="books/create">Добавить запись</a>

    <% if(books && books.length) { %>
        <table class="table table-striped table-sm  mt-3">
            <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Изображение</th>
                <th scope="col">Заголовок</th>
                <th scope="col">Авторы</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <% books.map((el, idx) => { %>
                <tr>
                    <th scope="row"><%= idx + 1 %></th>
                    <td class="pt-3">
                      <% if (el.fileBook) { %>
                        <img src="/public/img/<%= el.fileBook %>" style="width:60px;margin-top:-10px" alt="<%= el.title %>">
                      <% } %>
                    </td>
                    <td class="pt-3"><%= el.title %></td>
                    <td class="pt-3"><%= el.authors %></td>
                    <td class="text-right pt-3 pr-3">
                        <a class="btn btn-sm btn-success" href="/api/books/<%= el.id %>">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                        <a class="btn btn-sm btn-primary" href="/api/books/update/<%= el.id %>">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <form action="/api/books/delete/<%= el.id %>" method="POST" class="d-inline">
                            <button class="btn btn-sm btn-danger">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            <% }); %>
            </tbody>
        </table>

    <% }else { %>
        <h3 class="mt-5">Записей пока нет</h3>
    <% } %>
<% } %>

<%- include("../partials/layout-end") %>
