<%- include("../partials/layout-start", {title: title}) %>
<%- include("../partials/menu") %>

<div class="row">
    <div class="col-sm-8">

      <a style="float:right; margin-top:60px" href="/api/books">← Back to Books list</a>
      <h1 class="mt-5 mb-5"><%= title %></h1>

        <div class="card">

          <div class="card-horizontal" style="padding:30px 30px 20px;display: flex;flex: 1 1 auto;">
              <div class="img-square-wrapper">
                <% if(book.fileName) { %>
                <img src="/public/img/<%= book.fileName %>" style="width:150px;margin-top:25px" alt="<%= book.title %>">
                <% } %>
              </div>

              <div class="card-body">

                  <h5 class="card-title"><%= book.title %> <% if(book.favorite) { %>(<%= book.favorite %>)<% } %></h5>
                  <p class="card-text"><%= book.authors %></p>
                  <p class="card-text"><%= book.description %></p>

                  <div class="text-right">
                      <a class="btn btn-sm btn-primary" href="/api/books/update/<%= book.id %>">
                          <i class="fa fa-pencil" aria-hidden="true"></i>
                      </a>
                      <form action="/api/books/delete/<%= book.id %>" method="POST" class="d-inline">
                          <button class="btn btn-sm btn-danger">
                              <i class="fa fa-trash" aria-hidden="true"></i>
                          </button>
                      </form>
                  </div>

              </div>
          </div>

        </div>
    </div>
</div>

<%- include("../partials/layout-end") %>
