<form method="POST" class="mt-5" enctype="multipart/form-data">

  <div class="row">

    <div class="col-sm-6">

      <div class="form-group">
          <label for="inputTitle" class="font-weight-bold">Заголовок</label>
          <input type="text"
                 value="<%= book.title %>"
                 name="title"
                 class="form-control"
                 id="inputTitle">
      </div>

      <div class="form-group">
          <label for="inputAuthors" class="font-weight-bold">Авторы</label>
          <input type="text"
                 value="<%= book.authors %>"
                 name="authors"
                 class="form-control"
                 id="inputAuthors">
      </div>

      <div class="form-group">
          <label for="inputFavorite" class="font-weight-bold">Избранное</label>
          <input type="text"
                 value="<%= book.favorite %>"
                 name="favorite"
                 class="form-control"
                 id="inputFavorite">
      </div>

      <div class="form-group">
          <label for="inputDescription" class="font-weight-bold">Описание</label>
          <textarea
                  rows="3"
                  name="description"
                  class="form-control"
                  id="inputDescription"
          ><%= book.description %></textarea>
      </div>

      <div class="form-group text-right ">
        <a class="btn" href="/api/books">Отмена</a>
        <button type="submit" class="btn btn-primary">Сохранить</button>
      </div>

    </div>
    <div class="col-sm-6 pl-4">

        <!-- <input type="file" id="fileElem" multiple accept="image/*" style="display:none" onchange="handleFiles(this.files)">
        <label for="fileElem" class="font-weight-bold">Выберите изображение</label> -->

        <div id="imgload" style="height:262px; width:202px; border:1px dashed #ccc; margin:20px 0">
          <% if (book.fileBook) { %>
            <img src="/public/img/<%= book.fileBook %>" style="width:200px;" alt="<%= book.title %>"/>
          <% } %>
        </div>

        <label class="btn btn-secondary">
          <input type="file" accept="image/jpeg, image/png" name="coverimg" onchange="handleFiles(this.files)" style="display:none"/>
          Добавить / Изменить фото
        </label>
        <p>(Вы можете загрузить JPG или PNG изображение весом до 300 кб)</p>


        <input type="hidden"
               value="<%= book.fileCover %>"
               name="fileCover"
               class="form-control">
        <input type="hidden"
               value="<%= book.fileName %>"
               name="fileName"
               class="form-control">
        <input type="hidden"
               value="<%= book.fileBook %>"
               name="fileBook"
               class="form-control">

    </div>
  </div>
</form>

<script type="text/javascript">
  function handleFiles(files) {
    console.log('Upload new image', files);

    const file = files[0];

    const imgContainer = document.getElementById('imgload'),
          img = document.createElement("img");
    img.file = file;
    img.style.width = '200px';

    const reader = new FileReader();

    try {
      reader.readAsDataURL(file);
      reader.onload = () => {
        img.src = reader.result;  // src
        if (imgContainer.children[0]) imgContainer.children[0].style.display = 'none';
        imgContainer.append(img);
      };
    } catch (error) {
      console.log('Error : ', error);
    }

  }
</script>
