<%- include("../partials/layout-start", {title: title}) %>
<%- include("../partials/menu") %>
<h1 class="mt-5"><%= title %></h1>

<%- include("form", {book: book}) %>

<%- include("../partials/layout-end") %>
