<%- include("./partials/layout-start", {title: title, book: book}) %>
<%- include("./partials/menu") %>

<div class="row">
    <div class="col-sm-8">

      <a style="float:right; margin-top:60px" href="/">← Back to Home</a>

      <% if(book) { %>
      <h1 class="mt-5 mb-5"><%= title %> <%= book.title %></h1>

        <div class="card">

          <div class="card-horizontal" style="padding:30px 30px 20px;display: flex;flex: 1 1 auto;">
              <div class="img-square-wrapper">
                <% if(book.fileName) { %>
                <img src="/public/img/<%= book.fileName %>" style="width:150px;margin-top:25px" alt="<%= book.title %>">
                <% } %>
              </div>

              <div class="card-body">

                  <h5 class="card-title"><%= book.title %> <% if(book.favorite) { %>(<%= book.favorite %>)<% } %></h5>
                  <p class="card-text"><%= book.authors %></p>
                  <p class="card-text"><%= book.description %></p>

              </div>
          </div>

        </div> <!-- END card -->

        <div class="comments mb-5 pb-5">

          <h2 class="mt-5 mb-1">Comments</h2>

          <div class="row">
            <div class="col-sm-8">

              <div class="form-group">
                <label for="userName">Your name:</label>
                <input placeholder="username" type="text" id="userName" class="form-control">
              </div>
              <div class="form-group">
                <label for="commentText">Comment:</label>
                <textarea placeholder="Your comment . . ." class="form-control" id="commentText"></textarea>
              </div>
              <button type="submit" id="sendComment" class="btn btn-primary">Send</button>

            </div>
          </div>

          <h2 class="mt-4 mb-1">Comments list</h2>
          <ul id="commentList" class="comments__list"></ul>

        </div>
      <% } %>

    </div>
</div>

<!--Подключаем скрипт сгенерированный socket.io-->
<script src="/socket.io/socket.io.js"></script>

<script>
  // const socket = io.connect('http://localhost:3000/' + book.id);
  const socket = io.connect('http://localhost:3000/');
  const commentList = document.querySelector('#commentList');
  const inputUserName = document.querySelector('#userName');
  const inputCommentText = document.querySelector('#commentText');
  const btnSendComment = document.querySelector('#sendComment');

  console.log('Comment system :-)');

  btnSendComment.addEventListener('click', (e) => {
    e.preventDefault()
    let author = inputUserName.value,
        comment = inputCommentText.value
    if(!comment) {
      return
    }
    postComment(author, comment)

  });

  socket.on('comment', ({author, comment}) => {
    console.log(`Client msg: ${author}, ${comment}`);
    appendToDom({author, comment})
  });

  function postComment(author, comment) {
    console.log('Author : ', author);
    console.log('Comment Text : ', comment);
    // Append to dom
    appendToDom({author, comment})
    inputCommentText.value = ''
    // Broadcast
    socket.emit('comment', {
      author,
      comment
    });
  }

  function appendToDom(data) {
    let liTag = document.createElement('li')
    liTag.classList.add('comments__item')

    let markup = `<b>Author</b>: ${data.author}<br/><b>Comment</b>: ${data.comment}`
    liTag.innerHTML = markup

    commentList.append(liTag)
  }
</script>

<%- include("./partials/layout-end") %>
