<%- include("./partials/layout-start", {title: title}) %>
<%- include("./partials/menu") %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 mt-5 mb-5"><%= title %></h1>
    </div>
</div>

<% if(books && books.length) { %>
    <table class="table table-striped table-sm  mt-3">
        <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Изображение</th>
            <th scope="col">Заголовок</th>
            <th scope="col">Авторы</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <% books.map((el, idx) => { %>
            <tr>
                <th scope="row"><%= idx + 1 %></th>
                <td class="pt-3">
                  <% if (el.fileBook) { %>
                    <img src="/public/img/<%= el.fileBook %>" style="width:60px;margin-top:-10px" alt="<%= el.title %>">
                  <% } %>
                </td>
                <td class="pt-3"><%= el.title %></td>
                <td class="pt-3"><%= el.authors %></td>
                <td class="text-right pt-3 pr-3">
                    <a class="btn btn-sm btn-success" href="/books/<%= el.id %>">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        <% }); %>
        </tbody>
    </table>

<% } else { %>
    <p class="mt-5">Книг пока нет. Войдите в <a href="/api/user/login">Админ-панель</a> и добавьте книги в БД.</p>
<% } %>

<%- include("./partials/layout-end") %>
